@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
body {
    position: relative;
    font-family: "Kdam Thmor Pro";
    font-weight: 400;
    color: #000000;
    margin: 0;
    height: 1024px;
    background-image: url("../assets/wallpaper.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
    overflow-x: hidden;
}

header a:visited {
  color: #FFF;
}

header {
    justify-content: unset;
}

#icons {
    width: 256px;
    height: 44px;
    margin: auto 12px;
}

#logo { 
    text-decoration-line: underline;
}

#container-content-pc {
    width: 100%;
    height: calc(100% - 96px);
}

#container-content-phone {
    display: none;
}

.header-popup {
    height: 24px;
}

#ds {
    position: absolute;
    width: 442px;
    height: 346px;
    bottom: 0;
    left: 20%;
}

#links {
    position: absolute;
    top: 45%;
    left: 35%;
    display: flex;
    transform: rotate(-23.179deg);
    flex-direction: column;
    justify-content: center;
}
#links a {
    display: block;
    color: #FFF;
}

#links a:hover {
    color: #FFF;
}

#links a:visited {
    color: #FFF;
}

#dog {
    width: 118px;
    height: 115px;
    position: absolute;
    bottom: 40%;
    left: 0;
}

#apps {
    width: 204px;
    height: 109px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 12px;
}

#sparkles {
    width: 167px;
    height: 186px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(-50%);
}

#heart {
    width: 137px;
    height: 126px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-70%, -50%);
    z-index: 1;
}

#cursor {
    width: 62px;
    height: 64px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, 0);
}

#mess {
    width: 309px;
    height: 267px;
    position: absolute;
    right: 10%;
    top: 50%;
}

#flower {
    width: 151px;
    height: 147px;
    position: absolute;
    bottom: 10%;
    right: 30%;
}

#disco {
    width: 230px;
    height: 435px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

#container-popup {
    position: relative;
    max-width: 310px;
    max-height: 150px;
    top: 10%;
    left: 20%;
}

#frame {
    width: 347px;
    height: 475px;
    z-index: 2;
    position: absolute;
    right: 10%;
    bottom: 20%;
}

#text {
    position: absolute;
    bottom: 0%;
    padding-left: 111px;
}

#text * {
    padding: 0 0 12px;
    margin: 0;
}

#container-review {
    position: relative;
    left: 30%;
    top: 25%;
    width: fit-content;
}

#review {
    text-align: center;
}

button {
    margin-bottom: 12px;
    padding: 2px 14px;
    border: 1px solid #000;
    color: #000;
    background-color: #D9D9D9;
    font-family: "Kdam Thmor Pro";
    border-radius: 0 8px;
}

#star {
    width: 129px;
    height: 137px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-80%, 40%);
}

.legal{
    color: #FFF;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
}

#ds-img-phone {
    display: none;
}

/* telephone (≤ 600px)  */
@media screen and (max-width: 600px) {
    html {
        font-size: 12px;
    }
    body {
        background-image: url("../assets/wallpaper_phone_webp.png");
        min-width: 100%;
        background-repeat: repeat;
        background-size: 100%;
    }

    header {
        flex-direction: column;
        align-items: center;
        height: fit-content;
        width: 100%;
        padding: 12px 0;
        text-align: center;
    }

    #date {
        position: static;
        margin-top: 6px;
    }

    #container-content-pc {
        display: none;
    }

    #container-content-phone {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    #ds-img-pc {
        display: none;
    }

    #ds-img-phone {
        display: unset;
    }

    #ds {
        position: relative;
        bottom: unset;
        left: 0;
        height: fit-content;
        width: fit-content;
    }

    #links {
        justify-content: unset;
        left: 20%;
        top: 60%;
    }

    #disco {
        width: 128px;
        height: 241px;
        right: unset;
        top: 420px;
        left: 200px;
    }

    #sparkles {
        width: 122px;
        height: 148px;
        transform: none;
        top: 80px;
        right: 0;
        bottom: unset;
        left: unset;
    }

    #frame {
        position: relative;
        width: fit-content;
        height: 327px;
        right: unset;
        left: 40%;
        bottom: unset;
    }

    #frame_img {
        width: 220px;
        height: 327px;
        z-index: 1;
    }

    #text {
        padding-left: 70px;
        padding-bottom: 20px;
        font-size: 60%;
        z-index: 2;
    }

    #mess {
        position: absolute;
        width: 233px;
        height: 233px;
        top: unset;
        z-index: -1;
    }

    #container-popup {
        width: fit-content;
        min-height: fit-content;
        margin: 40px 0;
    }

    #container-review {
        width: fit-content;
    }

    #bottom-page {
        display: flex;
        justify-content: space-between;
        height: fit-content;
        margin: 60px 0;
    }

    #flower, #apps {
        position: unset;
    }
}