@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
html {
    font-size: 16px;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-image: url("assets/wallpaper.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#mii-image {
    position: absolute;
    right: 5%;
    bottom: 0;
    width: 92px;
    height: 134px;
    overflow-x: hidden;
}

header a:visited {
    color: #FFF;
}

#left {
    width: 60%;
}

.titre {
    margin-left: 150px;
    margin-bottom: 240px;
    color: #001D52;
    font-family: "Kdam Thmor Pro";
    font-size: 6rem;
    font-weight: normal;
    line-height: 150%;
}

#right {
    width: 40%;
    padding: 40px;
}

#select-container {
    display: block;
    margin-top: 50%;
    transform: translateY(-50%);
}

#selection {
    color: #001D52;
    font-family: "Kdam Thmor Pro";
    font-size: 3rem;
    font-weight: normal;
    line-height: 72px;
    margin: 0;
    padding: 0;
}

#content {
    display: flex;
}

#profile-description{
    font-family: "Kdam Thmor Pro";
    font-size: 1rem;
    width: 50%;
}

.popup p {
    padding: 18px;
}

#profile-select-window {
    background-color: #D9D9D9;
    text-align: center;
    width: calc(50% - 32px);
    height: calc(100% - 32px);
    margin: 16px;
}

#profil{
    font-size: 1.25rem;
    font-weight: normal;
    padding: 48px 0;
}

button {
    width: 35px;
}

#legal{
    color: #FFF;
    font-family: "Kdam Thmor Pro";
    font-size: 3rem;
    text-decoration-line: underline;
    margin-left: 150px;
}

/* telephone (≤ 600px) */
@media screen and (max-width: 600px) {
    body {
        background-image: url("assets/wallpaper_phone_webp.png");
        min-width: 100%;
        background-repeat: repeat;
        background-size: 100%;
    }
    
    header {
        flex-direction: column;
        align-items: center;
        height: fit-content;
        width: 100%;
        padding: 12px 0;
        text-align: center;
    }

    #date {
        position: static;
        margin-top: 6px;
    }

    #main {
        flex-wrap: wrap;
    }
 
    #right, #left {
        width: 100%;
        margin: 40px 0;
    }

    #left {
        margin-left: 10%;
    }

    .popup {
        margin: auto;
    }

    .popup p {
        padding: 0 0 18px;
    }

    .titre {
        font-size: 3rem;
        margin: 0;
    }

    #selection {
        font-size: 2rem;
        margin-left: 16px;
    }

    #select-container {
        margin-top: 0;
        transform: none;
    }

    /* .popup {
        width: 95%;
        height: auto;
    } */

    #content {
        display: block;
    }
    
    #profile-description {
        width: calc(100% - 32px);
        margin-left: 20px;
        font-size: 0.875rem;
        line-height: 20px;
    }

    #profile-select-window {
        width: calc(100% - 32px); 
        margin: 0 16px;
    }

    #legal {
        font-size: 2rem;
        margin-left: 10%;
    }
}